<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha512-MoRNloxbStBcD8z3M/2BmnT+rg4IsMxPkXaGh2zD6LGNNFE80W3onsAhRcMAMrSoyWL9xD7Ert0men7vR8LUZg==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
  </head>
  <body style="font-family: 'Roboto', sans-serif;">
    <nav class="nav justify-content-between container mt-5">
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a
            class="nav-link active"
            href="{{ url_for('main.index') }}"
            style="color: black"
            >Home</a
          >
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-link">
          <a href="{{ url_for('users.logout') }}" style="color: black"
            >Log Out</a
          >
        </li>
        <li class="nav-link">
          <a href="{{ url_for('users.account') }}" style="color: black"
            >Account</a
          >
        </li>
        <li class="nav-link">
          <a
            href="{{ url_for('blog_posts.create_post') }}"
            style="color: black"
            >Create Post</a>
        </li>
        {% else %}
        <li class="nav-link">
          <a href="{{ url_for('users.login') }}" style="color: black"
            >Log In</a
          >
        </li>
        <li class="nav-link">
          <a
            href="{{ url_for('users.register') }}"
            style="color: black"
            >Register</a
          >
        </li>
        {% endif %}
      </ul>
    </nav>

    <div class="container">
     
      {% block content %} {% endblock %}

    </div>
  </body>
</html>
