{% extends 'base.html'%}
{% block content %}
<div class="container">
<div class="row d-flex h-100 mt-5">
    <div class="col-md-6 mt-5">
        <h1 style="color: black">Welcome to My Blog</h1>
        <p>Here i share how i feel it.<br>Be inspired daily and stay motivated</p>
        <a href="{{ url_for('users.register') }}" class="btn" style="background-color: transparent;color:black; border: 1px solid black;">Lets get started!</a>

      <div class="row col-md-12 text center">
        <div class="quotes mt-5 w-50 mx-auto text-center" >
          <h3 class="text-primary m-0 m-2">Daily Quotes</h3>
          <blockquote>{{ quote }}</blockquote>
          <h6>{{ quote_author }}</h6>
        </div>
      </div>

{% endblock%}



